*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/release
/app/lite
/app/debug
/app/full
/app/google-services.json
/app/src/full/google-services.json
/app/src/lite/google-services.json
/app/src/main/google-services.json
/captures
/play-licensing
/play-licensing/lvl_library
/lvl_library
.externalNativeBuild
.cxx
sensitive_data.txt
/play-licensing/lvl_library/build/.transforms/e10a87f37a226c67ba13ef03b92d4634/classes/classes.dex
/play-licensing/lvl_library/build/.transforms/e10a87f37a226c67ba13ef03b92d4634.bin
/play-licensing/lvl_library/build/generated/aidl_source_output_dir/release/out/com/android/vending/licensing/ILicenseResultListener.java
/play-licensing/lvl_library/build/generated/aidl_source_output_dir/release/out/com/android/vending/licensing/ILicensingService.java
/play-licensing/lvl_library/build/intermediates/aar_metadata/release/aar-metadata.properties
/play-licensing/lvl_library/build/.transforms/bb9d39057821a921ebd799a1b401f6ac/classes/classes.dex
/play-licensing/lvl_library/build/.transforms/bb9d39057821a921ebd799a1b401f6ac.bin
/play-licensing/lvl_library/build/.transforms/c00921203adb3503df0bfc6cff25fd63.bin
/play-licensing/lvl_library/
/play-licensing/lvl_library/src/main/java/com/google/android/vending/licensing/LicenseChecker.java
/play-licensing/lvl_library/src/main/java/com/google/android/vending/licensing/LicenseCheckerCallback.java
/play-licensing/lvl_library/src/main/java/com/google/android/vending/licensing/LicenseValidator.java
/play-licensing/lvl_library/build/.transforms/3edb81cc2d60c59b9c27fe9d703f57da/classes/dex/classes.dex
/play-licensing/lvl_library/build/.transforms/3edb81cc2d60c59b9c27fe9d703f57da/classes/keep_rules
/play-licensing/lvl_library/build/.transforms/c1b691b6486eab5e19ab44a90a1766c7/classes/dex/classes.dex
/play-licensing/lvl_library/build/.transforms/c1b691b6486eab5e19ab44a90a1766c7/classes/keep_rules
/play-licensing/lvl_library/build/.transforms/3edb81cc2d60c59b9c27fe9d703f57da.bin
/play-licensing/lvl_library/build/.transforms/5b3d2def2dd625a8fc904a295a745f85.bin
/play-licensing/lvl_library/build/.transforms/661851cdadd5bb8b7d1f44f8b98ad467.bin
/play-licensing/lvl_library/build/.transforms/c1b691b6486eab5e19ab44a90a1766c7.bin
/.kotlin/sessions/kotlin-compiler-10007666933346622802.salive
