*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/app/release
/app/lite
/app/debug
/app/full
/app/google-services.json
/app/src/full/google-services.json
/app/src/lite/google-services.json
/captures
/play-licensing
/play-licensing/lvl_library
/lvl_library
.externalNativeBuild
.cxx
sensitive_data.txt
