*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/release
/app/lite
/app/debug
/app/full
/captures
.externalNativeBuild
.cxx
sensitive_data.txt
